/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  /* main */
  --ifm-color-primary: #FFD000;
  --ifm-code-font-size: 95%;
}

html[data-theme='dark'] {

  --ifm-link-color: #FFD000;
}
body {
  font-size: 18px;
  font-family: 'Futura';
}

.wrapper {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 20px;
}

.center {
  display: block;
}

.homeContainer {
  text-align: center;
  background-color: #FFD000;
}

.homeContainer .homeWrapper {
  padding: 2em 10px;
  min-height: 500px;
}

.homeContainer .homeWrapper .wrapper {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 20px;
}

.homeContainer .homeWrapper .productLogo img {
  height: 300px;
  margin-bottom: 0;
}

.homeContainer .homeWrapper #product_title {
  font-size: 300%;
  letter-spacing: -0.08em;
  line-height: 1em;
  margin-bottom: 80px;
}

.homeContainer .homeWrapper #product_tagline {
  font-size: 200%;
  letter-spacing: -0.04em;
  line-height: 1em;
}

.productLogo {
  pointer-events: none;
}

.productLogo img {
  height: 100px;
  margin-bottom: 0;
}

.productTitle {
  font-size: 250%;
  font-weight: bolder;
  color: black;
  line-height: 1em;
}

.productTaglineWrapper {
  display: flex;
  color: black;
  justify-content: center;
}

.productTagline {
  font-size: 115%;
  padding-bottom: 20px
}

@media only screen and (min-width: 480px) {
  .productTitle {
    font-size: 300%;
    margin: 0.3em 0;
  }

  .productLogo img {
    height: 200px;
    margin-bottom: 10px;
  }

  .homeContainer .homeWrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (min-width: 736px) {
  .homeContainer .homeWrapper {
    position: relative;
  }

  .homeContainer .homeWrapper .inner {
    max-width: 600px;
    margin-top: 150px;
    padding-right: 40px;
  }
}

@media only screen and (min-width: 1200px) {
  .homeContainer .homeWrapper #inner {
    max-width: 750px;
  }

  .homeContainer .homeWrapper .productLogo {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    left: 0;
    padding: 2em 100px 4em;
    position: absolute;
    right: 0;
    top: 0;
  }

  .homeContainer .homeWrapper .productLogo img {
    height: 100%;
    max-height: 250px;
  }
}

@media only screen and (min-width: 1500px) {
  .homeContainer .homeWrapper #inner {
    max-width: 1100px;
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .wrapper {
    max-width: 1400px;
  }
}

.mainContainer {
  flex: 1 1 0%;
  max-width: 100%;
  padding: 40px 0;
}

.mainContainer .wrapper {
  text-align: left;
}

.tokens {
  margin-top: 0;
  padding-bottom: 40px;
  background-color: #FFD000;
}

.tokensTitle {
  color: black;
  padding-top: 50px;
  text-align: center;
}
.pTop {
  padding-top: 80px;
}

.wrapButton {
  border: 3px solid #FFD000;
  text-decoration: none;
  font-size: 15px;
  background-color: black;
  color: #FFD000;
  font-weight: bold;
  box-shadow: 10px 10px #000000;
  padding: 20px 40px;
  transition: background-color 0.5s ease;
}

.wrapButton:hover {
  text-decoration: none;
  background-color: #FFD000;
  color: black;
  border: 3px solid #000000;
}

.aboutWhitepaperButton {
  width: 35%;
  border: 3px solid black;
  text-decoration: none;
  font-size: 15px;
  background-color: #FFD000;
  color: #000000;
  font-weight: bold;
  box-shadow: 10px 10px #ffd000;
  padding: 20px 40px;
  transition: background-color 0.5s ease;
}

.aboutWhitepaperButton:hover {
  text-decoration: none;
  background-color: black;
  color: #ffd000;
  border: 3px solid #ffd000;
}

.wraponomicsButton {
  width: 35%;
  border: 3px solid black;
  text-decoration: none;
  font-size: 15px;
  background-color: #FFD000;
  color: #000000;
  font-weight: bold;
  box-shadow: 10px 10px #ffd000;
  padding: 20px 40px;
  transition: background-color 0.5s ease;
}

.wraponomicsButton:hover {
  text-decoration: none;
  background-color: black;
  color: #ffd000;
  border: 3px solid #ffd000;
}


.gridBlock {
  padding: 0;
}

.gridBlock > * {
  box-sizing: border-box;

}

.gridBlock .sevenByGridBlock img,
.gridBlock .fiveByGridBlock img,
.gridBlock .fourByGridBlock img,
.gridBlock .threeByGridBlock img,
.gridBlock .twoByGridBlock img {
  max-width: 100%;

}

.gridBlock .gridClear {
  clear: both;
}

@media only screen and (max-width: 735px) {
  .gridBlock .fourByGridBlock {
    flex: 1 0 26%;
  }
  .gridBlock .fourByGridBlock {
    flex: 1 0 13%;
  }
}

@media only screen and (min-width: 736px) {
  .gridBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .gridBlock > * {
    margin: 0 12px;
  }

  .gridBlock > :first-child {
    margin-left: 0;
  }

  .gridBlock > :last-child {
    margin-right: 0;
  }

  .gridBlock .twoByGridBlock {
    flex: 1 0 40%;
  }

  .gridBlock .threeByGridBlock {
    flex: 1 0 26%;
  }

  .gridBlock .fourByGridBlock {
    flex: 1 0 20%;
  }

  .gridBlock .sevenByGridBlock {
    flex: 1 0 11%;
  }

  h2 + .gridBlock {
    padding-top: 20px;
  }
}

@media only screen and (min-width: 1400px) {
  .gridBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}

.imageAlignSide {

  display: flex;
  flex-flow: row wrap;
}

.blockImage {
  max-width: 730px;
}

.imageAlignSide .blockImage {
  flex: 0 1 500px;
  max-width: 500px;
}

@media only screen and (max-width: 735px) {
  .imageAlignSide .blockImage {
    display: none;
  }
}

.imageAlignSide .blockContent {
  flex: 1 1;
}

.imageAlignBottom .blockImage {
  margin: 0 auto 20px;
  max-width: 730px;
}

.imageAlignBottom.alignCenter .blockImage {
  margin-left: auto;
  margin-right: auto;
}

.imageAlignTop .blockImage {
  margin-bottom: 20px;
  max-width: 80px;
}

.imageAlignTop.alignCenter .blockImage {
  margin-left: auto;
  margin-right: auto;
}

.imageAlignRight .blockImage {
  margin-left: 40px;
}

.imageAlignLeft .blockImage {
  margin-right: 40px;
}

.block-container .gridBlock .blockContent p {
  padding: 0;
}

.block-container .wrapper .alignCenter h2 {
  text-align: center;
}

.block-container .wrapper .imageAlignSide h2 {
  text-align: left;
}

.block-container .wrapper .imageAlignSide p {
  margin: 0 0 40px;
  max-width: 560px;
}

.block-container {
  padding-left: 1rem;
  padding-left: var(--ifm-spacing-horizontal);
  padding-right: 1rem;
  padding-right: var(--ifm-spacing-horizontal);
  width: 100%;
}


.block-container .wrapper {
  margin: 0 auto;
  max-width: 1140px;
  max-width: var(--ifm-container-width);
}

.highlightBackground {
  background: rgba(153, 66, 79, 0.7);
  color: #fff;
}

.highlightBackground a {
  font-weight: 800;
}

.block-container.paddingAll {
  padding: 40px;
}

.block-container.paddingBottom {
  padding-bottom: 80px;
}

.block-container.paddingLeft {
  padding-left: 40px;
}

.block-container.paddingRight {
  padding-right: 40px;
}

.block-container.paddingTop {
  padding-top: 80px;
}

@media only screen and (max-width: 735px) {
  .block-container.paddingBottom {
    padding-bottom: 40px;
  }

  .block-container.paddingTop {
    padding-top: 20px;
  }
}

.imageAlignSide .blockImage {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


details > summary {
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  .productTitle {
    margin-top: 80px;
  }
}

.tokens-line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tokens-line img {
  max-width: 120px;
}

.footer {
  text-decoration: none;
}